################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/PROJET_CIR2_CPP/v17/Browse.VC.opendb
/.vs/PROJET_CIR2_CPP/FileContentIndex/1bb794cc-c27e-4105-a9a9-9a14fb16826c.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/59d36788-3358-428c-b527-5474946a410d.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/81d2e574-c8a9-4870-9f85-9733d384bbec.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/3fd55b14-5277-4361-8329-3412adb4283c.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/7e1dfd12-4b86-4968-af6c-569dcc4d8ae4.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/86f28343-bcf6-4757-b843-dcc79afcc06f.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/3ef2af82-dc3f-458a-a754-55d0a9c65534.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/92a17fcd-3054-4255-aa49-189b29bfb0bf.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/6729719f-e0aa-4169-9565-f5be85b41003.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/541d32bc-0798-4ce7-99a7-04369f34fe27.vsidx
/.vs/PROJET_CIR2_CPP/FileContentIndex/bc689e5d-29a5-458d-8edd-2d7b8910f88a.vsidx
